@page "/auto"
@inject AutoHttpClient AutoHttpClient;
@attribute [Authorize]

@using DemoCovadis.Shared.Dtos;
@using DemoCovadis.Shared.Clients;
@using DemoCovadis.Blazor.Components
@using Microsoft.AspNetCore.Authorization


<PageTitle>Auto</PageTitle>
<PageHeader><h5>Auto</h5></PageHeader>

@if (Autos != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Kenteken</th>
                <th>Kilometer stand</th>
                <th>Laatste Bestuurder</th>
                <th>Rit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var auto in Autos)
            {
                <tr>
                    <td>@auto.Id</td>
                    <td>@auto.kenteken</td>
                    <td>@auto.kilometerStand</td>
                    <td>@auto.laatsteBestuurder</td>
                    <td>@auto.rit</td>
                </tr>
            }
        </tbody>
    </table>

}

@code {
    public AutoDto[] Autos { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("OnInitializedAsync");
        Autos = await AutoHttpClient.GetAutos();
    }
}