@page "/rit"
@inject RitHttpClient RitHttpClient;
@attribute [Authorize]

@using DemoCovadis.Shared.Dtos;
@using DemoCovadis.Shared.Clients;
@using DemoCovadis.Blazor.Components
@using Microsoft.AspNetCore.Authorization


<PageTitle>Rit</PageTitle>
<PageHeader><h5>Rit</h5></PageHeader>

@if (Ritten != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Auto ID</th>
                <th>Auto</th>
                <th>Kilometer Gereden</th>
                <th>Bestuurder</th>
                <th>Begin Adres</th>
                <th>Eind Adres</th>
                <th>Vertrek Tijd</th>
                <th>Aankomst Tijd</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rit in Ritten)
            {
                <tr>
                    <td>@rit.id</td>
                    <td>@rit.AutoId</td>
                    <td>@rit.auto</td>
                    <td>@rit.kilometerGereden</td>
                    <td>@rit.bestuurder</td>
                    <td>@rit.beginAdres</td>
                    <td>@rit.eindAdres</td>
                    <td>@rit.vertrekTijd</td>
                    <td>@rit.aankomstTijd</td>
                </tr>
            }
        </tbody>
    </table>
    
}

@code {
    public RitDto[] Ritten { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("OnInitializedAsync");
        Ritten = await RitHttpClient.GetRitten();
    }
}